
HTML BODY 
{
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 15px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Tahoma, Arial, Verdana, Helvetica; BACKGROUND: url(../images/tata-sky-background.jpg) #4595e0 fixed repeat-x center top; COLOR: #414141; FONT-SIZE: 11px; PADDING-TOP: 0px
}
TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-COLLAPSE: collapse; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-COLLAPSE: collapse; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-COLLAPSE: collapse; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#header {
	BACKGROUND-IMAGE: url(../images/header-background.jpg); PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 950px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: center top; HEIGHT: 100px; PADDING-TOP: 0px
}
#title {
	BACKGROUND-IMAGE: url(../images/content-ins-bg1.gif); TEXT-ALIGN: left; HEIGHT: 55px
}
#content-txt {
	BACKGROUND-IMAGE: url(../images/content-ins-bg1.gif); TEXT-ALIGN: left; PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; HEIGHT: 300px; VERTICAL-ALIGN: top; PADDING-TOP: 20px
}
H1 
{
	MARGIN-TOP: 20px; COLOR: #015cb1; MARGIN-LEFT: 17px; FONT-SIZE: 17px
}




